body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Black background for the city feel */
    overflow: hidden; /* Hide scroll bars */
}

canvas {
    border: 1px solid white;
}
